#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "iconfont"; /* Project id 3599030 */
  src: url("//at.alicdn.com/t/c/font_3599030_45zm1z0rz22.woff2?t=1662086335716")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3599030_45zm1z0rz22.woff?t=1662086335716")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3599030_45zm1z0rz22.ttf?t=1662086335716")
      format("truetype");
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
